<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='image.png')}}">
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='image.png')}}" alt="">
        <h1>Change Password</h1>
        <p>Invest, Buy and Prosper.</p>
    </header>
    <main>
        <form action="/changepassword" method="post">
            <div>
                <label for="acc_holder">Old pass:</label>
                <input type="password" id="old_password" name="old_password" minlength="4" maxlength="4" required>
            </div>
            <div>
                <label for="password">New pass:</label>
                <input type="password" id="new_password" name="new_password" minlength="4" maxlength="4" required>
            </div>
            <button class="btn" type="submit">Change Password</button>
        </form>
        <a href="/"><button class="btn">Back</button></a>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% else %}
            <p></p>
        {% endif %}
    </main>
</body>
</html>