<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Trade Bank</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='image.png')}}">
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='image.png')}}" alt="">
        <h1>Login | Trade Bank</h1>
    </header>
    <main>
        <form action="/login" method="post">
            <div>
                <label for="acc_holder">Account Holder:</label>
                <input type="text" id="acc_holder" name="acc_holder" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" maxlength="4" required>
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
        <a href="/"><button class="btn">Back</button></a>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% else %}
            <p></p>
        {% endif %}
    </main>
</body>
</html>